extends layout

// A little page which turns the Tutorial Markdown into html.
// Not what one would really do, but playing with both 'marked', 'jade', and 'node'
block content
  #tutorial
    !{rawhtml}