doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      section.css-table
        section.three-column
          section.cell.narrow
            image(src="images/image.png")
          section.cell.wide
            h1#banner Smoke Signal
          section.cell
            nav
              ul
                li
                  a(href="/") Home
                li
                  a(href="/details") Details
                li
                  a(href="mailto:potrebic@nodoto.com") Contact
    section#wrapper
      block content
    footer
      section.css-table
        section.three-column
          section.cell
            a(href="http://www.bikingfools.org") April Fools Bicycle Challenge
          section.cell
            a(href="http://www.nodoto.com") NoDotO
          section.cell
            a(href="http://www.calistogacameraclub.org") Calistoga Camera Club
      p#copyright &copy;2012
